<html lang="en">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="styleSheet" href="css/angular-material.min.css">
</head>

<body ng-app="BlankApp" ng-controller="myController" >
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-messages.min.js"></script>

    <script>
        /**
         * You must include the dependency on 'ngMaterial' 
         */
        var myModule = angular.module('BlankApp', ['ngMaterial', 'ngMessages']);
        myModule.controller("myController", function($scope){
            $scope.show = false;
            $scope.switchShow = function() {
                $scope.show = !$scope.show
            }
        })
    </script>
    
    <md-toolbar md-scroll-shrink="true" layout-padding class="md-toolbar-tools-bottom">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button"  ng-click="switchShow()">
                <md-icon md-svg-src="img/menu-24px.svg"></md-icon>
            </md-button>
            <h2>Qiuran Hu</h2>
            <span flex></span>
            <md-button>Switch Language</md-button>
        </div>
        
    </md-toolbar>
    <md-sidenav ng-model="show" md-is-open="show" class="md-sidenav-left">
        <!-- toolbar specific markup goes here-->
        <md-toolbar layout-padding class="md-medium-tall">
            <h2 class="md-toolbar-tools">All Actions</h2>
        </md-toolbar>
    </md-sidenav>
    <md-card layout="column">
        <md-card-header>
            <md-card-avatar class="md-user-avatar">
                <md-icon md-svg-src="img/person-24px.svg"></md-icon>
            </md-card-avatar>
            <md-header-text>
                <div class="md-title">Basic information</div>
                <div class="md-subhead">Student</div>
            </md-header-text>
        </md-card-header>
        <md-card-content>
            <!-- Title caption and description-->
            <md-card-title layout-align="center center">
                <md-card-title-media flex="50">
                    <img src="img/profile.png" class="md-media-lg" alt="AngularJS" flex>
                </md-card-title-media>
                <md-card-title-text flex="50">
                    <span class="md-headline">Qiuran Hu</span>
                    <span class="md-subhead">Junior in Southeast University</span>
                    <span class="md-subhead">Majoring in Software Engineering</span>
                </md-card-title-text>
            </md-card-title>
            <p>
                A passionate student in coding. Always try to learn new technologies. Enthusiastic to achieve more.
            </p>
        </md-card-content>
        <md-card-actions layout-align="end end">
            <md-button class="md-raised md-primary">Share</md-button>
            <md-button class="md-raised md-primary">More...</md-button>
        </md-card-actions>
        <md-card-footer>
            <span>Thank you for visiting!</span>
        </md-card-footer>
    </md-card>
    <md-card layout="column">
    <md-card-content layout-padding flex>
        <md-tabs md-selected="0"  md-stretch-tabs="always" md-align-tabs="top" md-dynamic-heght md-border-bottom
        md-swipt-content> 
            <md-tab>
                <md-tab-label>
                    <md-icon md-svg-src="img/star-24px.svg"></md-icon>
                    <span>Skills</span>
                </md-tab-label>
                <md-tab-body layout-padding>
                    <h5>Language</h5>
                    <div>C++, java, python, javascript, swift </div>
                    <h5>Technology</h5>
                    <div>I know basic usage of AngularJS and basic technology of web development(JavaScript, CSS and HTML).</div>
                    <div>I know basic knowledge of iOS development.</div>
                    <div>I have good understanding of Algorithms and Data Structures.</div>
                </md-tab-body>
            </md-tab>
            <md-tab>
                <md-tab-label>
                    <md-icon md-svg-src="img/school-24px.svg"></md-icon>
                    <span>Education</span>
                </md-tab-label>
                <md-tab-body layout-padding>
                    <h5>Education</h5>
                    <div>2017.6-2019.8 Bachelor’s Degree of Software Engineering in Southeast University</div>
                    <div>2019.8-2019.12 Visiting in Software Engineering</div>
                    <div>2020.1-now Continue my study in Southeast University</div> 
                    <br>
                    <br>
                </md-tab-body>
            </md-tab>
           
        </md-tabs>
    </md-card-content>
    </md-card>
    <md-card layout="column">
        <md-card-header>
            <md-card-avatar class="md-user-avatar">
                <md-icon md-svg-src="img/toys-24px.svg"></md-icon>
            </md-card-avatar>
            <md-header-text>
                <div class="md-title">Projects</div>
                <div class="md-subhead">Focus on web</div>
            </md-header-text>
        </md-card-header>
        <md-card-content>
            <!-- Title caption and description-->
            <md-card-title layout-align="center center">
                <md-card-title-media flex="30">
                    <img src="img/gamesmanuni.png" class="md-media-lg" alt="AngularJS" flex>
                </md-card-title-media>
                <md-card-title-text flex="70">
                    <span class="md-headline">GamesmanUni</span>
                    <span class="md-subhead">A web project in UC Berkeley</span>
                    <span class="md-subhead">I worked in the front-end team and added a new game called SIM using svg and Vue.js.</span>
                    <span class="md-subhead">https://nyc.cs.berkeley.edu/uni/</span>

                </md-card-title-text>
            </md-card-title>
            <md-card-title layout-align="center center">
                <md-card-title-media flex="30">
                    <img src="img/menu_book-24px.svg" class="md-media-lg" alt="AngularJS" flex>
                </md-card-title-media>
                <md-card-title-text flex="70">
                    <span class="md-headline">My personal profile on web</span>
                    <span class="md-subhead">I write this website using AngularJS Material and AngularJS.</span>
                    <span class="md-subhead">https://qiuranhu.github.io/</span>
                </md-card-title-text>
            </md-card-title>
            <p>
                Working on more...
            </p>
        </md-card-content>
        
    </md-card>
</body>


</html>